body {
    background: #263849;
    width: 50%;
    margin: auto;
}

.title {
    color: white;
    font-size: 3em;
    font-family: monospace;
    font-weight: 900;
    text-align: center;
}

.container {
    margin-top: 5em;
    height: auto;
    width: 50vw;
    padding: 2em;
    text-align: center;
    border: 3px solid #9cc934;
    border-radius: 22px;
}

.div-2inputs {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 inputs por linha */
    gap: 30px;
    margin-bottom: 1.5em;
}

.label-input {
    font-weight: 900;
    font-family: monospace;
    font-size: 1.2em;
    display: block;
    text-align: left;
    color: #557497;
}

.div-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input {
    padding: 0.6em 1.2em;
    border: 2px solid black;
    border-radius: 3px;
    background-color: transparent;
    color: #9cc934;
    width: 100%;
    box-sizing: border-box;
}

span {
    display: block;
    font-family: monospace;
    font-weight: 900;
    font-size: 14px;
    max-width: 20em;
    text-align: center;
    color: rgb(204, 18, 18);
}

.btn {
    background-color: transparent;
    border: 2px solid #9cc934;
    border-radius: 3px;
    padding: 0.8em 2.5em;
    margin-top: 2em;
    color: white;
    font-family: monospace;
    font-weight: 900;
    cursor: pointer;
}

.btn:active {
    background-color: #9cc934;
    border: 1px solid white;
    font-weight: 900;
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
        margin: 0;
        padding: 1em;
    }

    .container {
       
        width: 80%;
        padding: 1.5em;
    }

    .div-2inputs {
        grid-template-columns: 1fr 1fr; 
        gap: 40px;
    }

    .div-input {
        gap: 20px;
    }

    .title {
        font-size: 2em;
    }

    .btn {
        width: 40%;
    }
}
